<div class="section" >
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-6" >
        <img data-aos="zoom-in"  data-aos-delay="250"  src="../../assets/qci.png" class=" rounded mx-auto d-block logo">
      </div>
      <div class="col-6" >
        <img data-aos="zoom-in"  data-aos-delay="250"  src="../../assets/coalindia.png" class=" rounded mx-auto d-block logo">
      </div>
      <div class="col-10 whiteBlock text-center" >

        <p class="frontText" >Coal Quality - Sampling, Prepation and Analysis</p>

      </div>
    </div>

  </div>
</div>
