<div class="section" >
  <div class="container-fluid text-center" >
    <div  data-aos="zoom-in"  data-aos-delay="250" data-aos-offset="100" >

      <div class="row justify-content-center whiteBlock" style="width:95%; margin:0 auto">

        <div class="frontText" >
          <div class="" >
            <div style="float:left" > Performance Indicators - {{selectedSubsidary}}</div>
              <div style="float:right" >
                <div class="dropdown">

                <select class="btn dropdown-toggle" [(ngModel)]="selectedSubsidary" (change)='getSubsidaryData()' >
                  <option >ALL</option>
                  <option *ngFor='let sub of subsidary_name'  >{{sub.name}}</option>

                </select>

              </div>
            </div>
          </div>
        </div>

        <div class="col-4  " >
          <h5 class="navbutton ">Grade Variance
            <i class="fas fa-info-circle " style="color: #9473d8"  aria-hidden="false" data-toggle="tooltip" data-placement="top" title="Click here for details" (click)="GVDetails()"></i>
          </h5>
          <div echarts [options]="option5" class="demo-chart " ></div>
        </div>

        <div class="col-4  divHeight" >
          <h5 class="navbutton ">Result Declaration Time</h5>
          <div echarts [options]="option6" class="demo-chart"></div>
        </div>

        <div class="col-4  divHeight" >
          <h5 class="navbutton ">Refree Challenge</h5>
          <div echarts [options]="option7" class="demo-chart"></div>
        </div>

      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="GVDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Grade Variance - Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height:560px;" >
        <div class="container-fluid">
          <div class="row justify-content-center " >

            <div class="col-12" >
              <div echarts [options]="option5"  style="width:400px; height:360px; padding-bottom:20px"></div>
            </div>

            <div class="col-3 text-center" style="border: 4px solid #fb8eca; height:160px; margin: auto; background: linear-gradient(#fff, #fb8eca);border-radius:5px; padding-left:0px; padding-right:0px">
              <p style="font-size:18px" > Below
                <i class="fas fa-info-circle" style="color: gray"  aria-hidden="false" data-toggle="tooltip" data-placement="top" title="Below grade signifies the result was found to be worse than the declared grade at given locations e.g. G7 was given G8, G9, G10 etc"></i>
                <br> 1519 56.66%
              </p>
              <div style="font-size:14px; ">-1 : 442 - 16.49%</div>
              <div style="font-size:14px">-2 : 405 - 15.11%</div>
              <div style="font-size:14px">-3^:672 - 25.07%</div>
            </div>

            <div class="col-3 text-center" style="border: 4px solid #99b4f3; height:160px; margin: auto; background: linear-gradient(#fff, #99b4f3);border-radius:5px; padding-left:0px; padding-right:0px">
              <p style="font-size:18px" > Same
                <i class="fas fa-info-circle" style="color: gray" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Same grade signifies that the result was found to be same as the declared grade"></i>
                  <br> <br> 456 17.01%
                </p>
            </div>

            <div class="col-3 text-center" style="border: 4px solid #9474D8; height:160px; margin: auto; background: linear-gradient(#fff, #b9a1ea);border-radius:5px; padding-left:0px; padding-right:0px">
              <p style="font-size:18px" > Above
                <i class="fas fa-info-circle" style="color: gray"  aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Above grade signifies the result was found to be better than the declared grade at given locations e.g G7 was given G5,G4, G3 etc"></i>
                <br> 1519 56.66%
              </p>
              <div style="font-size:14px; ">-1 : 442 - 16.49%</div>
              <div style="font-size:14px">-2 : 405 - 15.11%</div>
              <div style="font-size:14px">-3^:672 - 25.07%</div>
            </div>

          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary projectButton" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
