<div class="section" >
  <div class="container-fluid text-center" >
    <div  data-aos="zoom-in"  data-aos-delay="250" data-aos-offset="100" >

      <div class="row justify-content-center whiteBlock" style="width:95%; margin:0 auto">

        <div class="frontText" >
          <div class="" >
            <div style="float:left" > Monthly Lifting </div>

            <div style="float:right;" >
              <div class="dropdown " style="margin-left:20px">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Location
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">FY 2018 - 19</a>
                </div>
              </div>
            </div>

            <div style="float:right;" >
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Month
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">FY 2018 - 19</a>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-12  divHeight" >
          <div echarts [options]="option8" class="demo-chart"></div>
        </div>


      </div>

    </div>
  </div>
</div>
