<div class="section" >
  <div class="container-fluid text-center" >
    <div  data-aos="zoom-in"  data-aos-delay="250" data-aos-offset="400">


      <div class="row justify-content-center whiteBlock" style="width:95%; margin:0 auto">

        <div class="frontText" >
          <div class="" >
            <div style="float:left" > Project Summary </div>
              <div style="float:right" >
                <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  FY 2017 - 18
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">FY 2018 - 19</a> 
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-8 text-left divHeight" >
          <br>
          <h4>Signing Status - Contract type wise total volume signed</h4>
          <br>
          <table class="table">
            <thead class="">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
          <br>
        </div>

        <div class="col-4  divHeight" >
          <div echarts [options]="option1" class="demo-chart"></div>
        </div>

        <div class="col-4  divHeight" >
          <h4>Sample Collected vs Declared</h4>
          <div echarts [options]="option2" class="demo-chart"></div>
        </div>

        <div class="col-4  divHeight" >
          <h4>Sample Collected vs Declared</h4>
          <div echarts [options]="option3" class="demo-chart"></div>
        </div>

        <div class="col-4  divHeight" >
          <h4>Sample Collected vs Declared</h4>
          <div echarts [options]="option4" class="demo-chart"></div>
        </div>

      </div>

    </div>
  </div>
</div>
