<div class="row justify-content-center frontText " style="margin-bottom:5vh">
  <div class="col-3" >
    <img data-aos="zoom-in"  data-aos-delay="250"  src="../../assets/coalindia.png" class=" rounded mx-auto d-block logo">
  </div>
  <div class="col-6 text-center" >
    <h3 class=" text-center">  THIRD PARTY SAMPLING, TESTING & ANALYSIS OF COAL </h3>
    <br>
    <div class="row justify-content-center" >

      <div class="col-3 navbutton"> <h5> Download </h5> </div>
      <div class="col-3 navbutton"> <h5> Customer </h5> </div>
      <div class="col-3 navbutton"> <h5> Updates </h5> </div>
      <div class="col-3 navbutton"> <h5> Notification </h5></div>

    </div>
  </div>
  <div class="col-3" >
    <img data-aos="zoom-in"  data-aos-delay="250"  src="../../assets/qci.png" class=" rounded mx-auto d-block logo">
  </div>
</div>

<!-- <app-section1></app-section1> -->
<app-section2></app-section2>
<app-section3></app-section3>
<app-section4></app-section4>

<footer class="">

  <div class="row justify-content-center" >
    <div class="row " style="width: 80vw;">
      <div class="col-2" >
        <!-- <img src="../../assets/coalindia.png" class=" rounded mx-auto d-block logoFooter"> -->
      </div>
      <div class="col-8 text-center" >
        <br>
        <p class=" text-center"> Developed and maintained by QCI IT-Cell</p>
        <br>
        </div>
      <div class="col-2" >
        <!-- <img src="../../assets/qci.png" class=" rounded mx-auto d-block logoFooter"> -->
      </div>
    </div>
  </div>

</footer>
